{{#each articles}}


<div class="card text-gray text-center mb-5 mx-auto" style="max-width: 80%;">
  <div class="card-header bg-dark">{{this.title}}</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">{{this.link}}</p>
        <button type="button" class="btn btn-primary">Save Article </button>

  </div>
</div>


{{/each}}